<!doctype html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css" >
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<script src="https://use.fontawesome.com/4fdc0ba00a.js"></script>

<header class="hero is-info is-bold">
  <div class="hero-head">
    <nav class="nav has-shadow">
      <div class="nav-center">
        <a class="nav-item is-tab" href="http://localhost:8080/home">Início</a>
        <a class="nav-item is-tab" href="http://localhost:8080/temperature">Temperatura</a>
        <a class="nav-item is-tab" href="http://localhost:8080/level">Nível</a>
        <a class="nav-item is-tab" href="http://localhost:8080/informations">Informações Técnicas</a>
        <a class="nav-item is-tab" href="http://localhost:8080/help">Ajuda</a>
      </div>     
    </nav>
  </div>
</header>

<body>
  <div class="hero-body">
    <div class="container" style="color:black">
      <div class="container has-text-centered">
        <p class="title is-4 "> Toda a aplicação é dividida em seções, que podem ser acessadas na parte superior do site.</p>
        <p class="subtitle"> A descrição e o uso de cada seção está descrito abaixo.</p>          
      </div>
    </div>
  </div>


  <section class="section">
    <div class="columns is-mobile is-multiline">        
      <div class="column is-half-desktop is-full-mobile">
        <section class="panel">
          <p class="panel-heading has-text-centered">
            Início
          </p>
          <div class="panel-block">
            Aqui nós podemos conhecer um pouco sobre o processo de fabricação de cervejas.
          </div>
        </section>
      </div>
      <div class="column is-half-desktop is-full-mobile">
        <section class="panel">
          <p class="panel-heading has-text-centered">
            Temperatura
          </p>
          <div class="panel-block">
            <p> Nessa seção podemos ver, em tempo real, as temperaturas internas e externas no barril de fermentação, além da corrente e temperatura na placa de efeito peltier </p>
          </div>
        </section>
      </div>
      <div class="column is-half-desktop is-full-mobile">
        <section class="panel">
          <p class="panel-heading has-text-centered">
            Nível
          </p>
          <div class="panel-block">
            <ul>
              <li> Aqui é possível ver, em tempo real, o nível no tanque da água e além disso realizar o controle sobre o mesmo.</li>
              <li>Utilizando os botões <strong> Encher </strong> e <strong> Esvaziar </strong> é possível controlar o nível do tanque.</li>
              <li>Como também é possível informar o nível e  utlizar o botão <strong> Manter </strong> para que o tanque se matenha continuamente no nível informado.</li>
            </ul>   
          </div>
        </section>
      </div>
      <div class="column is-half-desktop is-full-mobile">
        <section class="panel">
          <p class="panel-heading has-text-centered">
            Informações Técnicas
          </p>
          <div class="panel-block">
            Nessa seção nós conhecemos um pouco sobre sistemas embarcados e sistemas web.  
          </div>
        </section>
      </div>     
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          Aplicação criada por <a href="https://www.linkedin.com/in/gabriel-souza-07556a11a/">Gabriel Souza</a>.
        </p>
        <p>
          <a class="icon" href="https://github.com/gsasouza/psel-bk">
            <i class="fa fa-github"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>
</body>