<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css" >
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

<header class="hero is-light">
  <div class="hero-head">
    <nav class="nav has-shadow">
      <div class="nav-center">
        <a class="nav-item is-tab is-active" href="http://localhost:8080/home">Home</a>
        <a class="nav-item is-tab" href="http://localhost:8080/temperature">Temperatura</a>
        <a class="nav-item is-tab" href="http://localhost:8080/level">Nível</a>
        <a class="nav-item is-tab" href="http://localhost:8080/informations">Informações Técnicas</a>
      </div>     
    </nav>
  </div>
</header>

<div class="section">    
  <div class="panel">
    <p class="panel-heading">
      Informações
    </p>
    <div class="panel-block">
      
    </div>
  </div>
</div>