<!doctype html>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css" >
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

<header class="hero is-info">
  <div class="hero-head">
    <nav class="nav has-shadow">
      <div class="nav-center">
        <a class="nav-item is-tab is-active" href="http://localhost::8080/home">Home</a>
        <a class="nav-item is-tab" href="http://localhost:8080/temperature">Temperatura</a>
        <a class="nav-item is-tab" href="http://localhost:8080/level">Nível</a>
        <a class="nav-item is-tab" href="http://localhost:8080/informations">Informações Técnicas</a>
      </div>     
    </nav>
  </div>
</header>


<body>
    <section class="hero is-info is-medium">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-2">
            Como é o processo de fabricação de uma cerveja?
          </h1>
        </div>
      </div>
    </section>

    <section class="section blog">
      <div class="container">
        <div class="columns is-mobile">
          <div class="column is-10 is-offset-1">
            <div class="content blog-post section">
              <div class=subtitle> Malteação</div>
              <p>
                Essa é a primeira etapa para produção de uma boa cerveja. Pode parecer mentira, mas existem cervejarias que usam muitos cereais não maltados. Tal etapa consiste em iniciar o processo de germinação dos grãos dos cereais.
                Para germinar os grãos, eles são umedecidos, e assim que o processo inicia, são secos e torrados. Essa etapa que surge a diferenciação entre os diversos grãos. 
                A escolha do tipo de malte que definirá os aromas e sabores advindos do malte e principalmente a cor da cerveja. Um malte mais torrado, deixará a cerveja mais escura, enquanto um malte menos torrado, deixará a cerveja mais clara.
              </p>
              <div class=subtitle> Moagem</div>     
              <p>
                Uma vez com os maltes definidos e a quantidade de cada tipo, é preciso moer o malte. A ideia da moagem é quebrar a casca, liberando o endosperma do grão. O melhor dos casos é conseguir remover a casca inteira, e quebrar o interior do grão. Se a moagem for muito fina, na brasagem ocorre a remoção de taninos da casca, deixando a cerveja adstringente. Se a moagem é muito grossa perdemos eficiência, reduzindo a quantidade de cerveja a ser produzida, ou prejudicando a densidade da mesma.
              </p>
              <div class=subtitle> Brassagem</div>
              <p>
                Uma vez que o grão tenha sido “aberto”, precisamos fazer com que enzimas presentes nele quebrem os açucares não fermentáveis em açucares fermentáveis.
O amido presente no malte é composto por diversas moléculas de diversos tipos de açúcares arranjados de diferentes formas. Com a cerveja trabalhamos com duas enzimas, a Beta amilase e a Alfa amilase.
              </p>
              <div class=subtitle> Clarificação</div>    
              <p>
               Durante a clarificação circulamos o mosto, tirando-o do fundo da panela e fazendo percorrer por um caminho que passe pelas cascas do malte . Quando fazemos isto, impurezas presentes no mosto vão ficando presas nas cascas, e açucares ainda não extraídos acabam por serem extraídos nesta etapa. Por isso a importância de não danificar a casca.Nesta etapa também fazemos uma lavagem do mosto, que é circular apenas água, extraindo mais açucares presos nos grãos.
              </p>
              <div class=subtitle> Fervura</div>  
              <p>
                Depois do mosto clarificado e sem cascas, ele é fervido. Caso ainda houver casca, a cerveja terá um caráter adstringente.
Durante a fervura ocorre a evaporação de substancias que não desejamos em nossa cerveja, como o diacetil. Também adicionamos o lúpulo e matamos qualquer bactéria ou micro organismo que possa estar presente.
O lúpulo tem dois papeis importantes na cerveja, o primeiro é conferir amargor, equilibrando o doce do malte. E o segundo papel é ser conservante natural.              
              </p>
              <div class=subtitle> Resfriamento</div>  
              <p>
                Se deixássemos o mosto resfriar naturalmente, estaríamos aumentando o tempo que ele fica em contato com o ambiente, e assim aumentamos o risco de contamina-lo. Por este motivo, o ideal é resfriar todo o mosto até a temperatura de inoculação da levedura o mais rápido possível. 
              </p>
              <div class=subtitle> Fermentação</div>
              <p>
                O mosto foi resfriado, já o tiramos da panela e passamos para o fermentador e inoculamos a levedura. Essa levedura irá consumir os açucares e produzir álcool e gás carbônico. Imagine um tanque fechado (pois o processo de fermentação é anaeróbico[Sem presença de oxigênio]) produzindo grande quantidade de gás. Sim, construímos uma pequena granada. Por este motivo usamos um recurso chamado air lock, que impede que o ar e micro organismos presentes no mesmo entrem dentro da nossa cerveja e a contaminem.
Tal recurso consiste em algo que permita extrair os gases do topo do tanque (uma mangueirinha), e sua outra ponta é mergulhada em água. 
              </p>
              <div class=subtitle>Maturação (Opcional)</div>
              <p>
                Apesar de opcional a maturação é uma importante etapa de produção da cerveja. Pois nesta etapa ocorre a estabilização das moléculas instáveis dentro do mosto, assim os aromas são consolidados, o sabor é suavizado e eventuais defeitos de fabricação são camuflados.
              </p>
              <div class=subtitle> Dry-Hopping (Opcional)</div>
              <p> 
                Durante a maturação podemos adicionar mais lúpulo a cerveja, aumentando os aromas advindos do lúpulo e aumentando seu amargor. Antigamente o lúpulo era adicionado apenas na maturação, que ocorria em barris de madeira.
Um grande problema de adicionar o lúpulo na maturação, e não na fervura, é o risco do lúpulo estar contaminado por algum micro organismo e com isso contaminar sua cerveja. 
              </p>              
              <div class=subtitle> Envase</div>
              <p>
                Cerveja pronta, a engarrafamos, ou enlatamos, ou a guardamos em barril. Cada um tem sua forma preferida de envase.
              </p>
              <div class=subtitle> Primming (Opcional)</div>
              <p>
                Já pensou de onde vem o gás presente na cerveja? O gás produzido na fermentação escapou para o ambiente por meio do airlock. Temos duas opções, utilizar gás artificial, ou aproveitar que ainda existe levedo vivo dentro da cerveja e produzir gás novamente.
A etapa de primming consiste em adicionar açúcar a cerveja já fermentada, e engarrafar. O levedo ainda presente irá consumir este açúcar e produzir mais álcool e gás carbônico, a cerveja está engarrafada, o gás não tem por onde sair, ou seja, carbonatamos nossa cerveja de forma natural.
Porém este método cria no fundo da garrafa um pequeno sedimento, por isso as grandes cervejarias optam por usar gás artificial. Outro motivo que justifica o uso do gás artificial é o tempo para ficar pronta. Com o gás artificial ela fica pronta logo no envase, enquanto no primming é preciso esperar o levedo produzir o gás.
              </p>
              <div class=subtitle> Pasteurização (Opcional)</div>
              <p>
                magine que você deseja enviar sua cerveja do Brasil até um amigo na China. Ainda existe levedo vivo na cerveja, e com o tempo ele irá se autodestruir (autólise), e nesse processo irá deixar na cerveja sabores e aromas indesejados.
Louis Pasteur estudando porque a cerveja de sua época estragava, descobriu o processo de pasteurização. Tal processo consiste em aquecer a cerveja até determinada temperatura bem lentamente, matando os micro organismos presentes. Sem microorganismos  a cerveja irá demorar um tempo maior para estragar (irá estragar por outros fatores, como reação química ao calor).
              </p>
            </div>           
          </div>
        </div>
      </div>
    </section>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          Texto retirado do site <a href="http://www.engenhariadacerveja.com.br/2013/processo-de-producao-de-cerveja/">Engenharia de Cerveja</a>.
        </p>
      </div>
    </div>
  </footer>


</body>