<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css" >
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">


<header class="hero is-light">
  <div class="hero-head">
    <nav class="nav has-shadow">
      <div class="nav-center">
        <a class="nav-item is-tab">Home</a>
        <a class="nav-item is-tab">Temperatura</a>
        <a class="nav-item is-tab">Nível</a>
        <a class="nav-item is-tab is-active">Informações Técnicas</a>
      </div>     
    </nav>
  </div>
</header>
      
<div class="section">
  <div class="columns"> 
    <main class="column">           
      <div class="columns is-multiline">
        <div class="column is-6">
          <div class="panel">
            <p class="panel-heading">
              Barril
            </p>
            <div class="panel-block">
              <div class="column"> 
                <div class="box">
                  <div class="heading">Temperatura Interna</div>
                  <div class="title">56,950</div>
                </div>
              </div>
              <div class="column">
                <div class="box">
                  <div class="heading">Temperatura Externa</div>
                  <div class="title">55% / 45%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="panel">
            <p class="panel-heading">
              Peltier
            </p>
            <div class="panel-block">
              <div class="column">
                <div class="box">
                  <div class="heading">Temperatura Peltier</div>
                  <div class="title">
                    78%
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="box">
                  <div class="heading">Corrente Peltier</div>
                  <div class="title">75% / 25%</div>
                </div>
              </div>
            </div>
          </div>
        </div>   
      </div>
    </main>
  </div>
</div>