<!doctype html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css" >
<script src="https://use.fontawesome.com/4fdc0ba00a.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io('http://localhost:8080');
  socket.on('temperature', (data)=>{
    console.log(data);
    if(data.tempExt) $('#tempExt').text(data.tempExt + " ºC");
    if(data.tempInt) $('#tempInt').text(data.tempInt + " ºC");
    if(data.tempPeltier) $('#tempPeltier').text(data.tempPeltier + " ºC");
    if(data.currentPeltier) $('#currentPeltier').text(data.currentPeltier + " A");
  })

</script>

<header class="hero is-info">
  <div class="hero-head">
    <nav class="nav has-shadow">
      <div class="nav-center">
        <a class="nav-item is-tab " href="http://localhost:8080/home">Home</a>
        <a class="nav-item is-tab is-active" href="http://localhost:8080/temperature">Temperatura</a>
        <a class="nav-item is-tab" href="http://localhost:8080/level">Nível</a>
        <a class="nav-item is-tab" href="http://localhost:8080/informations">Informações Técnicas</a>
      </div>     
    </nav>
  </div>
</header>
      
<div class="section">
  <div class="columns"> 
    <main class="column">           
      <div class="columns is-multiline">
        <div class="column is-6">
          <div class="panel">
            <p class="panel-heading">
              Barril
            </p>
            <div class="panel-block">
              <div class="column"> 
                <div class="box">
                  <div class="heading">Temperatura Interna <i class="fa fa-thermometer-half" aria-hidden="true"></i></div>
                  <div class="title is-1" id="tempInt">
                    
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="box">
                  <div class="heading">Temperatura Externa <i class="fa fa-thermometer-half" aria-hidden="true"></i></div>
                  <div class="title is-1" id="tempExt"> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="panel">
            <p class="panel-heading">
              Peltier
            </p>
            <div class="panel-block">
              <div class="column">
                <div class="box">
                  <div class="heading">Temperatura <i class="fa fa-thermometer-half" aria-hidden="true"></i></div>
                  <div class="title is-1" id="tempPeltier">

                  </div>
                </div>
              </div>
              <div class="column">
                <div class="box">
                  <div class="heading">Corrente <i class="fa fa-bolt" aria-hidden="true"></i></div>
                  <div class="title is-1" id="currentPeltier">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>   
      </div>
    </main>
  </div>
</div>